.base-liezuixiao {
    background: url(./img/base-emoji.png) -0px -0px no-repeat;
}

.base-mojing {
    background: url(./img/base-emoji.png) -72px -0px no-repeat;
}

.base-nanshou {
    background: url(./img/base-emoji.png) -144px -0px no-repeat;
}

.base-pingdan {
    background: url(./img/base-emoji.png) -216px -0px no-repeat;
}

.base-qinwen {
    background: url(./img/base-emoji.png) -288px -0px no-repeat;
}

.base-shangxin {
    background: url(./img/base-emoji.png) -360px -0px no-repeat;
}

.base-shengqi {
    background: url(./img/base-emoji.png) -432px -0px no-repeat;
}

.base-tanqi {
    background: url(./img/base-emoji.png) -504px -0px no-repeat;
}

.base-weixiao {
    background: url(./img/base-emoji.png) -576px -0px no-repeat;
}

.base-wubiaoqing {
    background: url(./img/base-emoji.png) -648px -0px no-repeat;
}

.base-xixi {
    background: url(./img/base-emoji.png) -720px -0px no-repeat;
}

.base-xihuan {
    background: url(./img/base-emoji.png) -792px -0px no-repeat;
}

.base-xiaoku {
    background: url(./img/base-emoji.png) -864px -0px no-repeat;
}

.base-beishang {
    background: url(./img/base-emoji.png) -936px -0px no-repeat;
}

.base-chanzui {
    background: url(./img/base-emoji.png) -1008px -0px no-repeat;
}

.base-daku {
    background: url(./img/base-emoji.png) -1080px -0px no-repeat;
}

.base-tiaopi {
    background: url(./img/base-emoji.png) -1152px -0px no-repeat;
}

.base-fennu {
    background: url(./img/base-emoji.png) -1224px -0px no-repeat;
}

.base-gaxiao {
    background: url(./img/base-emoji.png) -1296px -0px no-repeat;
}

.base-guilian {
    background: url(./img/base-emoji.png) -1368px -0px no-repeat;
}

.base-haha {
    background: url(./img/base-emoji.png) -1440px -0px no-repeat;
}

.base-haipa {
    background: url(./img/base-emoji.png) -1512px -0px no-repeat;
}

.base-kongbu {
    background: url(./img/base-emoji.png) -1584px -0px no-repeat;
}

.base-kun {
    background: url(./img/base-emoji.png) -1656px -0px no-repeat;
}

.base-lenghan {
    background: url(./img/base-emoji.png) -1728px -0px no-repeat;
}

.base-lianhong {
    background: url(./img/base-emoji.png) -1800px -0px no-repeat;
} 